<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://httptriggerfunctions-h5erc5atf4aabfff.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/aea00c82-ee9d-484b-8992-108f5dbd49b7/resourceGroups/sampleapplicationrsgroup/providers/Microsoft.Web/sites/httptriggerfunctions</ResourceId>
    <UserName>$httptriggerfunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://httptriggerfunctions-h5erc5atf4aabfff.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>